---
---

$gray: #999;
$light-gray: #EEE;

/* Space out content a bit */
body {
    padding-top: 0px;
}

.container {
    padding-top: 90px;
}

.header {
    position: fixed;
    background: rgba(255, 255, 255 , 1) !important;
    padding-top: 15px;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    top: 0;
    // height: 70px;
    font-size: 1.2em;
    -webkit-tap-highlight-color: white;
    z-index:990;
}

.footer {
    /* padding-top: 19px; */
    color: $gray;
    border-top: 1px solid $light-gray;
    text-align: center;
    font-size: 0.8em;

    a:link, a:visited {
        color: $gray;
    }
}

h2 {
    margin-bottom:25px;
}

.fa {
    color: $gray;
}
a > .fa {
    // make sure that font-awesome icons are underlined in links
    display: inline;
}

/* /\* Customize container *\/ */
/* @media (min-width: 768px) { */
/*     .container { */
/*         max-width: 730px; */
/*     } */
/* } */

/* Jumbotron */
.jumbotron {
    text-align: justify;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 125%
}

/* Group logo */
#logo {
    width: 154px;
    height: 50px;
    margin: 0px 0 2px 0;
}

/* Front page news. */
ul.news {

    .date {
        color: $gray;
        font-weight: bold;
    }

    > li {
        margin-top: 1em;
    }
}

.title img {
    max-width: 50%;
}

section {
    margin-bottom: 2em;
}

.profile {
    object-fit: cover; // makes sure it's cropped
}

.noprofile {
    circle {
        fill: $light-gray;
    }
    text {
        font-weight: 700;
        fill: white;
    }
}

.card {

    .profile {
        height: 40px;
        width: 40px;
        margin: 3px;
    }

    .card-footer { padding: 0.5em }
}

.person {

    margin-bottom: 10px;

    .profile {
        height: 70px;
        width: 70px;
    }

    .bio {
        color: $gray;
    }

    .person-name {
        margin: 0;
    }
}

.person-without-image {
    margin: 0;

    .bio {
        margin-left: 1em;
    }
}

svg {
    // make the alignment just like img from bootstrap's reboot.scss
    vertical-align: middle;
}

#people{
    border-top: 65px solid transparent;
    margin-top: -65px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#research{
    border-top: 65px solid transparent;
    margin-top: -65px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

@media (min-width: 176px) {
    .container { padding-top: 160px;}
    .header { padding-top: 10px; font-size: 1.1em; padding-bottom: 3px;}
    #logo {
        width: 120px;
        height: 35px;
        margin: 0px 0 5px 0;
    }
    #people{ border-top: 150px solid transparent; margin-top: -150px;}
    #research{ border-top: 150px solid transparent; margin-top: -150px;}
}

@media (min-width: 576px) {
    // phone
    .role.grad      { column-count: 2 }
    .project-people { column-count: 2 }
    .card-columns   { column-count: 2 }
    .container { padding-top: 190px;}
    .header {padding-top: 10px; font-size: 1.1em; padding-bottom: 3px;}
    #people{ border-top: 150px solid transparent; margin-top: -150px;}
    #research{ border-top: 150px solid transparent; margin-top: -150px;}
}

@media (min-width: 768px) {
    // ipad
    .role.grad      { column-count: 2 }
    .project-people { column-count: 3 }
    .card-columns   { column-count: 2 }
    .container { padding-top: 70px;}
    .header {padding-top: 10px; font-size: 1.1em; padding-bottom: 3px;}
    #people{ border-top: 70px solid transparent; margin-top: -70px;}
    #research{ border-top: 70px solid transparent; margin-top: -70px;}
}