---
layout: default
title: Tsvetshop
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
alum-tables:
- - roles: [alum]
    width: 6
    image: false

image_sliders:
  - group_gallery
---
<div class="jumbotron">
    <p>
        Welcome to <b>TsvetShop</b>! <a href="https://homes.cs.washington.edu/~yuliats/">Yulia Tsvetkov</a>'s research group with members at the <b>Paul G. Allen School of Computer Science & Engineering</b> at the <b>University of Washington</b> and the <b>Language Technologies Institute</b> of <b>Carnegie Mellon University</b>.
        Our group works on multidisciplinary research at the nexus of machine learning, computational linguistics and the social sciences to develop practical solutions to natural language processing problems that combine sophisticated learning and modeling methods with insights into human languages and the people who speak them. 
    </p>
</div>
{% comment %} <br/>
<div class="jumbotron bg-dark text-white">
    <p>
        Our lab strongly condemns racism and is committing to promoting justice and lasting change #BlackLivesMatter
    </p>
</div> {% endcomment %}

<section style="padding:20px;">
    <h2>News</h2>
    <div class="row">
        <div class="col-md-6">
        {% include slider.html selector="group_gallery" %}
        </div>
        <div class="col-md-6">
        <div class="twt_wrap">
        <a class="twitter-timeline" dnt="true" data-width="700" data-height="300" data-theme="light" data-chrome="noheader nofooter" href="https://twitter.com/tsvetshop?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        </div>
    </div>

    {% comment %} <ul class="news list-unstyled">
        {% for post in site.posts limit: 5 %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %} {% endcomment %}
</section>

<hr></hr>
<div id="people" style="margin-bottom:40px; padding:20px;">
    <h2 style="margin-top:0px;">People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
    <div align="right" ><a href="{{ site.base }}/people.html">Alumni</a></div>
</div>

{% comment %} <hr></hr> {% endcomment %}
{% comment %} <div id="research" style="margin-bottom:40px;">
    <h2>Research</h2>
    <div class="card-columns">
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</div> {% endcomment %}

<hr></hr>

<div id="publications">
    <h2>Publications</h2>
    {% include pubs.html %}
    <p>
        <a href="{{ site.base }}/bib/pubs.bib">Download BibTeX.</a>
    </p>
</div>

<hr></hr>

<div id="funding">
    <h2>Funding</h2>
    Our work has been supported by the following organizations/companies:
    <br></br>
    <img src="img/logo/google.png" alt="DARPA Logo" style="width:230px;height:75px;padding-right: 20px;">
    <img src="img/logo/darpa.jpg" alt="DARPA Logo" style="width:150px;height:100px;padding-right: 10px;">
    <img src="img/logo/nsf.png" alt="NSF Logo" style="width:100px;height:100px;">
    <img src="img/logo/aws.png" alt="AWS Logo" style="width:180px;height:100px;">
    <img src="img/logo/adobe.png" alt="Adobe Logo" style="width:85px;height:100px;">
    <img src="img/logo/nvf.png" alt="NVF Logo" style="width:250px;height:100px;">
</div>

<br></br>