---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
alum-tables:
- - roles: [alum]
    width: 6
    image: false

image_sliders:
  - group_gallery
---

<div class="jumbotron">
    <p>
        Welcome to <b>TsvetShop</b>! <a href="http://www.cs.cmu.edu/~ytsvetko/">Yulia Tsvetkov</a>'s research group at <b>Language Technologies Institute</b> of <b>Carnegie Mellon University</b>.
        Our work focuses on natural language processing, particularly cross-lingual approaches, low-resource settings, and social good.
    </p>
</div>


<section style="padding:20px;">
    <h2>News</h2>
    {% include slider.html selector="group_gallery" %}
    <ul class="news list-unstyled">
        {% for post in site.posts limit: 5 %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<hr></hr>
<div id="people" style="margin-bottom:40px; padding:20px;">
    <h2 style="margin-top:0px;">People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
    <div align="right" ><a href="{{ site.base }}/people.html">Alumni</a></div>
</div>

<hr></hr>

<div id="research" style="margin-bottom:40px;">
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<hr></hr>

<div id="publications">
    <h2>Publications</h2>
    {% include pubs.html %}
    <p>
        <a href="{{ site.base }}/bib/pubs.bib">Download BibTeX.</a>
    </p>
</div>

<hr></hr>

<div id="funding">
    <h2>Funding</h2>
    Our work has been supported by the following organizations/companies:
    <br></br>
    <img src="img/logo/google.png" alt="DARPA Logo" style="width:230px;height:75px;padding-right: 20px;">
    <img src="img/logo/darpa.jpg" alt="DARPA Logo" style="width:150px;height:100px;padding-right: 10px;">
    <img src="img/logo/nsf.png" alt="NSF Logo" style="width:100px;height:100px;">
    <img src="img/logo/aws.png" alt="AWS Logo" style="width:180px;height:100px;">
    <img src="img/logo/adobe.png" alt="Adobe Logo" style="width:85px;height:100px;">
    <img src="img/logo/nvf.png" alt="NVF Logo" style="width:250px;height:100px;">
</div>

<br></br>