<table class="table">
<tbody>
	
	
		
		<tr>
			<td class="pub-tr" style="padding-bottom: 0px;">
				<span class="date" style="font-size:24px;">
					<strong>2022</strong><br/>
				</span>
			</td>
		</tr>
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2203.08979">Speaker Information Can Guide Models to Better Inductive Biases: A Case Study On Predicting Code-Switching</a>
				</span><br />
				<span class="authors">
					Alissa Ostapenko, Shuly Wintner, Melinda Fricke, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2101.00078">Controlled Analyses of Social Biases in Wikipedia Bios</a>
				</span><br />
				<span class="authors">
					Anjalie Field, Chan Young Park, Kevin Z. Lin, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. TheWebConf</i></span>.
				&ensp;
				<span class="demo">
					<a href="https://anjalief.github.io/wikipedia_bias_viz/">[demo]</a>
				</span>
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://openreview.net/forum?id=GUrhfTuf_3">SimVLM: Simple Visual Language Model Pretraining with Weak Supervision</a>
				</span><br />
				<span class="authors">
					Zirui Wang, Jiahui Yu, Adams Wei Yu, Zihang Dai, Yulia Tsvetkov, and Yuan Cao.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ICLR</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr>
			<td class="pub-tr" style="padding-bottom: 0px;">
				<span class="date" style="font-size:24px;">
					<strong>2021</strong><br/>
				</span>
			</td>
		</tr>
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2108.01850">Controlled Text Generation as Continuous Optimization with Multiple Constraints</a>
				</span><br />
				<span class="authors">
					Sachin Kumar, Eric Malmi, Aliaksei Severyn, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. NeurIPS</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2103.12279">SelfExplain: A Self-Explaining Architecture for Neural Text Classifiers</a>
				</span><br />
				<span class="authors">
					Dheeraj Rajagopal, Vidhisha Balachandran, Eduard Hovy, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2103.16590">Evaluating the Morphosyntactic Well-formedness of Generated Texts</a>
				</span><br />
				<span class="authors">
					Adithya Pratapa, Antonios Anastasopoulos, Shruti Rijhwani, Aditi Chaudhary, David R. Mortensen, Graham Neubig, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2110.03212">Influence Tuning: Demoting Spurious Correlations via Instance Attribution and Instance-Driven Updates</a>
				</span><br />
				<span class="authors">
					Xiaochuang Han and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. Findings of EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2110.04419">Detecting Community Sensitive Norm Violations in Online Conversations</a>
				</span><br />
				<span class="authors">
					Chan Young Park, Julia Mendelsohn, Karthik Radhakrishnan, Kinjal Jain, Tushar Kanakagiri, David Jurgens, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. Findings of EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2109.04877">Efficient Test Time Adapter Ensembling for Low-resource Language Varieties</a>
				</span><br />
				<span class="authors">
					Xinyi Wang, Yulia Tsvetkov, Sebastian Ruder, and Graham Neubig.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. Findings of EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2104.08710">Simple and Efficient ways to Improve REALM</a>
				</span><br />
				<span class="authors">
					Vidhisha Balachandran, Ashish Vaswani, Yulia Tsvetkov, and Niki Parmar.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. MRQA</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					Improving the Diversity of Unsupervised Paraphrasing with Embedding Outputs
				</span><br />
				<span class="authors">
					Monisha Jegadeesan, Sachin Kumar, John Wieting, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. MRL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2109.09811">Improving Span Representation for Domain-adapted Coreference Resolution</a>
				</span><br />
				<span class="authors">
					Nupoor Gandhi, Anjalie Field, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. CRAC</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2106.11410.pdf">A Survey of Race, Racism, and Anti-Racism in NLP</a>
				</span><br />
				<span class="authors">
					Anjalie Field, Su Lin Blodgett, Zeerak Waseem, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2106.06797.pdf">Machine Translation into Low-resource Language Varieties</a>
				</span><br />
				<span class="authors">
					Sachin Kumar, Antonios Anastasopoulos, Shuly Wintner, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2106.05894.pdf">Synthesizing Adversarial Negative Responses for Robust Response Ranking and Evaluation</a>
				</span><br />
				<span class="authors">
					Prakhar Gupta, Yulia Tsvetkov, and Jeffrey P. Bigham.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. Findings of ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2104.13346.pdf">Understanding Factuality in Abstractive Summarization with FRANK: A Benchmark for Factuality Metrics</a>
				</span><br />
				<span class="authors">
					Artidoro Pagnoni, Vidhisha Balachandran, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. NAACL-HLT</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://aclanthology.org/2021.naacl-main.240.pdf">Controlling Dialogue Generation with Semantic Exemplars</a>
				</span><br />
				<span class="authors">
					Prakhar Gupta, Jeffrey P. Bigham, Yulia Tsvetkov, and Amy Pavel.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. NAACL-HLT</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2106.00920.pdf">DialoGraph: Incorporating Interpretable Strategy-Graph Networks into Negotiation Dialogues</a>
				</span><br />
				<span class="authors">
					Rishabh Joshi, Vidhisha Balachandran, Shikhar Vashishth, Alan Black, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ICLR</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2010.05874.pdf">Gradient Vaccine: Investigating and Improving Multi-task Optimization in Massively Multilingual Models</a>
				</span><br />
				<span class="authors">
					Zirui Wang, Yulia Tsvetkov, Orhan Firat, and Yuan Cao.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ICLR</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2003.00576.pdf">StructSum: Incorporating Latent and Explicit Sentence Dependencies for Single Document Summarization</a>
				</span><br />
				<span class="authors">
					Vidhisha Balachandran, Artidoro Pagnoni, Jay Yoon Lee, Dheeraj Rajagopal, Jaime Carbonell, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2006.09336.pdf">Cross-Cultural Similarity Features for Cross-Lingual Transfer Learning of Pragmatically Motivated Tasks</a>
				</span><br />
				<span class="authors">
					Jimin Sun, Hwijeen Ahn, Chan Young Park, Yulia Tsvetkov, and David R. Mortensen.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2010.10820.pdf">Multilingual Contextual Affective Analysis of LGBT People Portrayals in Wikipedia</a>
				</span><br />
				<span class="authors">
					Chan Young Park, Xinru Yan, Anjalie Field, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ICWSM</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2103.16789.pdf">An Exploration of Data Augmentation Techniques for Improving English to Tigrinya Translation</a>
				</span><br />
				<span class="authors">
					Lidia Kidane, Sachin Kumar, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. AfricaNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr>
			<td class="pub-tr" style="padding-bottom: 0px;">
				<span class="date" style="font-size:24px;">
					<strong>2020</strong><br/>
				</span>
			</td>
		</tr>
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="http://proceedings.mlr.press/v137/kumar20a/kumar20a.pdf">End-to-End Differentiable GANs for Text Generation</a>
				</span><br />
				<span class="authors">
					Sachin Kumar and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ICBINB</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/2020.conll-1.46.pdf">Understanding Linguistic Accommodation in Code-Switched Human-Machine Dialogues</a>
				</span><br />
				<span class="authors">
					Tanmay Parekh, Emily Ahn, Yulia Tsvetkov, and Alan W. Black.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. CoNLL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/2020.emnlp-main.422.pdf">Automatic Extraction of Rules Governing Morphological Agreement</a>
				</span><br />
				<span class="authors">
					Aditi Chaudhary, Antonios Anastasopoulos, Adithya Pratapa, David R. Mortensen, Zaid Sheikh, Yulia Tsvetkov, and Graham Neubig.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/2020.emnlp-main.44.pdf">Unsupervised Discovery of Implicit Gender Bias</a>
				</span><br />
				<span class="authors">
					Anjalie Field and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2010.03017.pdf">On Negative Interference in Multilingual Models: Findings and A Meta-Learning Treatment</a>
				</span><br />
				<span class="authors">
					Zirui Wang, Zachary C. Lipton, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/2020.emnlp-main.622.pdf">Fortifying Toxic Speech Detectors Against Veiled Toxicity</a>
				</span><br />
				<span class="authors">
					Xianchuang Han and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2005.09803.pdf">A Computational Analysis of Polarization onIndian and Pakistani Social Media</a>
				</span><br />
				<span class="authors">
					Aman Tyagi, Anjalie Field, Priyank Lathwal, Yulia Tsvetkov, and Kathleen M. Carley.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. SocInfo</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2008.04820.pdf">LTIatCMU at SemEval-2020 Task 11: Incorporating Multi-Level Features for Multi-Granular Propaganda Span Identification</a>
				</span><br />
				<span class="authors">
					Sopan Khosla, Rishabh Joshi, Ritam Dutt, Alan W. Black, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. SemEval</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2003.03014.pdf">A framework for the computational linguistic analysis of dehumanization</a>
				</span><br />
				<span class="authors">
					Julia Mendelsohn, Yulia Tsvetkov, and Dan Jurafsky.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Frontiers in Artificial Intelligence</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2005.12246.pdf">Demoting Racial Bias in Hate Speech Detection</a>
				</span><br />
				<span class="authors">
					Mengzhou Xia, Anjalie Field, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. SocialNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2005.11216.pdf">A Generative Approach to Titling and Clustering Wikipedia Sections</a>
				</span><br />
				<span class="authors">
					Anjalie Field, Sascha Rothe, Simon Baumgartner, Cong Yu, and Abe Ittycheriah.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. WNGT</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2006.15454.pdf">A Deep Reinforced Model for Cross-Lingual Summarization with Bilingual Semantic Similarity Reward</a>
				</span><br />
				<span class="authors">
					Zi-Yi Dou, Sachin Kumar, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. WNGT</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2004.06748.pdf">Balancing Training for Multilingual Neural Machine Translation</a>
				</span><br />
				<span class="authors">
					Xinyi Wang, Yulia Tsvetkov, and Graham Neubig.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/2005.06676.pdf">Explaining Black Box Predictions and Unveiling Data Artifacts through Influence Functions</a>
				</span><br />
				<span class="authors">
					Xiaochuang Han, Byron C. Wallace, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://cmustrudel.github.io/papers/raman20toxicity.pdf">Stress and Burnout in Open Source: Toward Finding, Understanding, and Mitigating Unhealthy Interactions</a>
				</span><br />
				<span class="authors">
					Naveen Raman, Minxuan Cao, Yulia Tsvetkov, Christian Kästner, and Bogdan Vasilescu.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>International Conference on Software Engineering -- New Ideas Track (ICSE-NIER)</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/1909.13425.pdf">Augmenting Non-Collaborative Dialog Systems with Explicit Semantic and Strategic Dialog History</a>
				</span><br />
				<span class="authors">
					Yiheng Zhou, Yulia Tsvetkov, Alan W Black, and Zhou Yu.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ICLR</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://scholarworks.umass.edu/cgi/viewcontent.cgi?article=1164&amp;context=scil">What Code-Switching Strategies are Effective in Dialog Systems?</a>
				</span><br />
				<span class="authors">
					Emily Ahn, Cecilia Jimenez, Yulia Tsvetkov, and Alan W Black.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. SCiL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://scholarworks.umass.edu/cgi/viewcontent.cgi?article=1148&amp;context=scil">Where New Words Are Born: Distributional Semantic Analysis of Neologisms and Their Semantic Neighborhoods</a>
				</span><br />
				<span class="authors">
					Maria Ryskina, Ella Rabinovich, Taylor Berg-Kirkpatrick, David Mortensen, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. SCiL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr>
			<td class="pub-tr" style="padding-bottom: 0px;">
				<span class="date" style="font-size:24px;">
					<strong>2019</strong><br/>
				</span>
			</td>
		</tr>
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/1909.00453.pdf">Topics to Avoid: Demoting Latent Confounds in Text Classification</a>
				</span><br />
				<span class="authors">
					Sachin Kumar, Shuly Wintner, Noah A. Smith, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/D19-1176.pdf">Finding Microaggressions in the Wild: A Case for Locating Elusive Phenomena in Social Media Posts</a>
				</span><br />
				<span class="authors">
					Luke M. Breitfeller, Emily Ahn, David Jurgens, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/D19-5626.pdf">Learning to Generate Word- and Phrase-Embeddings for Efficient Phrase-Based Neural Machine Translation</a>
				</span><br />
				<span class="authors">
					Chan Young Park and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. WNGT</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/D19-5621.pdf">A Margin-based Loss with Synthetic Negative Samples for Continuous-output Machine Translation</a>
				</span><br />
				<span class="authors">
					Gayatri Bhat, Sachin Kumar, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. WNGT</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/W19-5943.pdf">A Dynamic Strategy Coach for Effective Negotiation</a>
				</span><br />
				<span class="authors">
					Yiheng Zhou, He He, Alan W Black, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. SIGdial</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/1906.01762">Entity-Centric Contextual Affective Analysis</a>
				</span><br />
				<span class="authors">
					Anjalie Field and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/W19-4208">CMU-01 at the SIGMORPHON 2019 Shared Task on Crosslinguality and Context in Morphology</a>
				</span><br />
				<span class="authors">
					Aditi Chaudhary, Elizabeth Salesky, Gayatri Bhat, David R. Mortensen, Jaime G. Carbonell, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. SIGMORPHON</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="http://www.cs.cmu.edu/~ytsvetko/papers/bias_in_bert.pdf">Quantifying Social Biases in Contextual Word Representations</a>
				</span><br />
				<span class="authors">
					Keita Kurita, Nidhi Vyas, Ayush Pareek, Alan W Black, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. of Workshop on Gender Bias for NLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/1904.04164">Contextual Affective Analysis: A Case Study of People Portrayals in Online #MeToo Stories</a>
				</span><br />
				<span class="authors">
					Anjalie Field, Gayatri Bhat, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ICWSM</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/1904.04047">Black is to Criminal as Caucasian is to Police: Detecting and Removing Multiclass Bias in Word Embeddings</a>
				</span><br />
				<span class="authors">
					Thomas Manzini, Yao Chong, Yulia Tsvetkov, and Alan W Black.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. NAACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/1812.04616">Von Mises-Fisher Loss for Training Sequence to Sequence Models with Continuous Outputs</a>
				</span><br />
				<span class="authors">
					Sachin Kumar and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ICLR</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr>
			<td class="pub-tr" style="padding-bottom: 0px;">
				<span class="date" style="font-size:24px;">
					<strong>2018</strong><br/>
				</span>
			</td>
		</tr>
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/1808.09386">Framing and Agenda-setting in Russian News: a Computational Analysis of Intricate Political Strategies</a>
				</span><br />
				<span class="authors">
					Anjalie Field, Doron Kliger, Shuly Wintner, Jennifer Pan, Dan Jurafsky, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.cs.cmu.edu/~ytsvetko/papers/rtgender.pdf">RtGender: A corpus for studying differential responses to gender</a>
				</span><br />
				<span class="authors">
					Rob Voigt, David Jurgens, Vinodkumar Prabhakaran, Dan Jurafsky, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. LREC'18</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="http://aclweb.org/anthology/Q18-1024">Native Language Cognate Effects on Second Language Lexical Choice</a>
				</span><br />
				<span class="authors">
					Ella Rabinovich, Yulia Tsvetkov, and Shuly Wintner.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>TACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/1804.09000">Style Transfer Through Back-Translation</a>
				</span><br />
				<span class="authors">
					Shrimai Prabhumoye, Yulia Tsvetkov, Ruslan Salakhutdinov, and Alan W Black.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
</tbody>
</table>
