<table class="table">
<tbody>
	
	
		
		<tr>
			<td class="pub-tr" style="padding-bottom: 0px;">
				<span class="date" style="font-size:24px;">
					<strong>2020</strong><br/>
				</span>
			</td>
		</tr>
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					Balancing Training for Multilingual Neural Machine Translation
				</span><br />
				<span class="authors">
					Xinyi Wang, Yulia Tsvetkov, and Graham Neubig.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					Explaining Black Box Predictions and Unveiling Data Artifacts through Influence Functions
				</span><br />
				<span class="authors">
					Xiaochuang Han, Byron C. Wallace, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://cmustrudel.github.io/papers/raman20toxicity.pdf">Stress and Burnout in Open Source: Toward Finding, Understanding, and Mitigating Unhealthy Interactions</a>
				</span><br />
				<span class="authors">
					Naveen Raman, Minxuan Cao, Yulia Tsvetkov, Christian Kästner, and Bogdan Vasilescu.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>International Conference on Software Engineering -- New Ideas Track (ICSE-NIER)</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/1909.13425.pdf">Augmenting Non-Collaborative Dialog Systems with Explicit Semantic and Strategic Dialog History</a>
				</span><br />
				<span class="authors">
					Yiheng Zhou, Yulia Tsvetkov, Alan W Black, and Zhou Yu.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ICLR</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://scholarworks.umass.edu/cgi/viewcontent.cgi?article=1164&amp;context=scil">What Code-Switching Strategies are Effective in Dialog Systems?</a>
				</span><br />
				<span class="authors">
					Emily Ahn, Cecilia Jimenez, Yulia Tsvetkov, and Alan W Black.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. SCiL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://scholarworks.umass.edu/cgi/viewcontent.cgi?article=1148&amp;context=scil">Where New Words Are Born: Distributional Semantic Analysis of Neologisms and Their Semantic Neighborhoods</a>
				</span><br />
				<span class="authors">
					Maria Ryskina, Ella Rabinovich, Taylor Berg-Kirkpatrick, David Mortensen, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. SCiL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr>
			<td class="pub-tr" style="padding-bottom: 0px;">
				<span class="date" style="font-size:24px;">
					<strong>2019</strong><br/>
				</span>
			</td>
		</tr>
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/1909.00453.pdf">Topics to Avoid: Demoting Latent Confounds in Text Classification</a>
				</span><br />
				<span class="authors">
					Sachin Kumar, Shuly Wintner, Noah A. Smith, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/D19-1176.pdf">Finding Microaggressions in the Wild: A Case for Locating Elusive Phenomena in Social Media Posts</a>
				</span><br />
				<span class="authors">
					Luke M. Breitfeller, Emily Ahn, David Jurgens, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/D19-5626.pdf">Learning to Generate Word- and Phrase-Embeddings for Efficient Phrase-Based Neural Machine Translation</a>
				</span><br />
				<span class="authors">
					Chan Young Park and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. WNGT</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/D19-5621.pdf">A Margin-based Loss with Synthetic Negative Samples for Continuous-output Machine Translation</a>
				</span><br />
				<span class="authors">
					Gayatri Bhat, Sachin Kumar, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. WNGT</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/W19-5943.pdf">A Dynamic Strategy Coach for Effective Negotiation</a>
				</span><br />
				<span class="authors">
					Yiheng Zhou, He He, Alan W Black, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. SIGdial</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/1906.01762">Entity-Centric Contextual Affective Analysis</a>
				</span><br />
				<span class="authors">
					Anjalie Field and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.aclweb.org/anthology/W19-4208">CMU-01 at the SIGMORPHON 2019 Shared Task on Crosslinguality and Context in Morphology</a>
				</span><br />
				<span class="authors">
					Aditi Chaudhary, Elizabeth Salesky, Gayatri Bhat, David R. Mortensen, Jaime G. Carbonell, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. SIGMORPHON</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="http://www.cs.cmu.edu/~ytsvetko/papers/bias_in_bert.pdf">Quantifying Social Biases in Contextual Word Representations</a>
				</span><br />
				<span class="authors">
					Keita Kurita, Nidhi Vyas, Ayush Pareek, Alan W Black, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. of Workshop on Gender Bias for NLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/1904.04164">Contextual Affective Analysis: A Case Study of People Portrayals in Online #MeToo Stories</a>
				</span><br />
				<span class="authors">
					Anjalie Field, Gayatri Bhat, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ICWSM</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/1904.04047">Black is to Criminal as Caucasian is to Police: Detecting and Removing Multiclass Bias in Word Embeddings</a>
				</span><br />
				<span class="authors">
					Thomas Manzini, Yao Chong, Yulia Tsvetkov, and Alan W Black.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. NAACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/1812.04616">Von Mises-Fisher Loss for Training Sequence to Sequence Models with Continuous Outputs</a>
				</span><br />
				<span class="authors">
					Sachin Kumar and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ICLR</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr>
			<td class="pub-tr" style="padding-bottom: 0px;">
				<span class="date" style="font-size:24px;">
					<strong>2018</strong><br/>
				</span>
			</td>
		</tr>
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/pdf/1808.09386">Framing and Agenda-setting in Russian News: a Computational Analysis of Intricate Political Strategies</a>
				</span><br />
				<span class="authors">
					Anjalie Field, Doron Kliger, Shuly Wintner, Jennifer Pan, Dan Jurafsky, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://www.cs.cmu.edu/~ytsvetko/papers/rtgender.pdf">RtGender: A corpus for studying differential responses to gender</a>
				</span><br />
				<span class="authors">
					Rob Voigt, David Jurgens, Vinodkumar Prabhakaran, Dan Jurafsky, and Yulia Tsvetkov.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. LREC'18</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="http://aclweb.org/anthology/Q18-1024">Native Language Cognate Effects on Second Language Lexical Choice</a>
				</span><br />
				<span class="authors">
					Ella Rabinovich, Yulia Tsvetkov, and Shuly Wintner.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>TACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/1804.09000">Style Transfer Through Back-Translation</a>
				</span><br />
				<span class="authors">
					Shrimai Prabhumoye, Yulia Tsvetkov, Ruslan Salakhutdinov, and Alan W Black.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
</tbody>
</table>
