<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<span class="fa fa-fw fa-file-pdf-o"></span>
				<a href="https://openreview.net/forum?id=rJlDnoA5Y7">Von Mises-Fisher Loss for Training Sequence to Sequence Models with Continuous Outputs</a>.
			</span><br />
			<span class="authors">
				Sachin Kumar and Yulia Tsvetkov.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Learning Representations</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<span class="fa fa-fw fa-file-pdf-o"></span>
				<a href="https://arxiv.org/pdf/1808.09386.pdf">Framing and Agenda-setting in Russian News: a Computational Analysis of Intricate Political Strategies</a>.
			</span><br />
			<span class="authors">
				Anjalie Field, Doron Kliger, Shuly Wintner, Jennifer Pan, Dan Jurafsky, and Yulia Tsvetkov.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 2018 Conference on Empirical Methods in Natural Language Processing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
