---
layout: default
---

{{ content }}
<br/>

{% if page.code or page.paper %}
    <section class="row">
        <div class="col-md-5">
            <h2> People </h2>
            <section class="people project-people-with-code">
                {% for uname in page.people %}
                    {% assign person = site.data.people[uname] %}
                    {% include person.html person=person image=true%}
                {% endfor %}
            </section>
        </div>
        <div class="col-md-7">
            {% if page.paper %}
            <div style="margin-bottom: 12px;">
                <h2 style="margin-bottom: 12px;"> Related Papers</h2>
                {% for paper in page.paper %}
                    {% include paper.html title=paper.title url=paper.url%}
                    <br/>
                {% endfor %}
            </div>
            {% endif %}
            {% if page.code %}
            <div>
                <h2 style="margin-bottom:12px;"> Code </h2>
                {% for url in page.code %}
                    {% include repo.html url=url%}
                    <br/>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
{% else %}
    <h2> People </h2>
    <section class="people project-people row">
        {% for uname in page.people %}
            {% assign person = site.data.people[uname] %}
            {% include person.html person=person image=true%}
        {% endfor %}
    </section>
{% endif %}
